.header {
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: $header-color;
}
.header__inner {}
.container {}
.logo {}
.nav {}
.nav__list {}
.nav__item {}
.nav__link {}
.header__action {}
.phone {}
.select_lang {}
.lang {}
.contact-us {}

.burger {
	display: none;
}
