$main-font: 'Red Hat Display';
$secondary-font: 'NovaSquare-Book';

$header-text-color: #b6b6b6;
$header-action-text-color: #fff;

$accent-color: #9f9f9f;
// $action-color: #fd576c;

$header-color: #1b1b1b;
$footer-color: L#fff;

$main-text-color: #fff;
// $second-text-color: grey;

$main-bg-color: #1b1b1b;
$second-bg-color: #333;

$burger-line-color: black;
